body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.breadcrumb {
    margin-bottom: 20px;
    text-align: center;
}

.breadcrumb a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
}

.breadcrumb a:hover {
    color: #4CAF50;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-group select::-ms-expand {
    display: none;
}

.form-group .btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group .btn-primary:hover {
    background-color: #0062cc;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-group {
    width: 48%;
}

.login-link {
    text-align: center;
    margin-top: 10px;
}

.login-link a {
    text-decoration: none;
    color: #007bff;
}

.container-2 {
    width: 80%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

.payment-method {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.payment-method label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.payment-method input[type="radio"] {
    margin-right: 10px;
}

.payment-method img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.payment-method .icons {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.payment-method .icons img {
    margin-right: 5px;
}

.button-container {
    text-align: center;
    margin-top: 30px;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}